html 
    head 
        title= title 
        link(rel="stylesheet", href="/css/style.css")
    body 
        h1= `Welcome ${username}`   
        br
        if(!log) 
            a(href='/singup')='SINGUP'
            br
            br
            a(href='/login')='LOGIN'
        br
        br
        if (log)
            a(href='/logout')='LOGOUT'