html 
    head 
        title= title 
    body 
        h1= `Welcome ${username}`   
        a(href="/singup")='singup' 
        br
        a(href="/login")='login' 
        br
        if log
            br
            button='Logout' 
